.my-header{
    background: #069;
    h1{
        color: #fff;
    }
    a{
        color: #fff;
    }
}
.my-footer{
    background:#069;
    span{
        color: #fff;
    }
    .mui-active{
        span{
            color: darkorange;
        }
    }
}