.my-header {
  background: #069;
}

.my-header h1 {
  color: #fff;
}

.my-header a {
  color: #fff;
}

.my-footer {
  background: #069;
}

.my-footer span {
  color: #fff;
}

.my-footer .mui-active span {
  color: darkorange;
}
